<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DART</title>
  </head>
  <body></div>
  <h1>DART</h1>
  <div id="footerBar">
    <% if user_signed_in? %>
      <div class="user">
        <p>
          <%= image_tag(current_user.avatar.url(:thumb), class: "round-image-50") %>
          &nbsp; Logged in as
          <%= current_user.username %></p>
      </div>

      <div class="orientation">
        <%= link_to 'Profile', user_path(current_user) %>
        &nbsp; | &nbsp;
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        &nbsp; | &nbsp;
        <%= link_to 'Settings', edit_user_registration_path %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path %>
        &nbsp; | &nbsp;
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </div>
  </div>
</br>
</br>

<div id="new-post">
<%= link_to new_post_path do %>
New post
<% end %>
</div>
</br>

<div class="alert-position">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
</div>
<div class="alert-position">
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
</div>

<% @posts.reverse.each do |post| %>
</br>
<div id="all-posts">

<div class="post-border">
<div >
  <div class="profile-left">
    <%= image_tag(post.user.avatar.url(:thumb), class: "round-image-50") %>
    &nbsp;
    <%= post.user.username %>
  </div>
  <div >
    <%= post.message %>
  </div>
</br>
</div>

<hr style="border-color:#D3D3D3;width:80%;">
<% if current_user === post.user%>
<p style="font-size:75%">
  <%= link_to 'Edit', edit_post_path(post.id), id: 'edit_post'%>
  &nbsp; | &nbsp;
  <%= link_to 'Delete', post_path(post), method: :delete, id: 'delete_post'%>
  &nbsp; | &nbsp;
  <%=Posted.new(post.created_at).string%>
  &nbsp; | &nbsp;
<% end %>
<%= link_to image_tag("https://thumb.ibb.co/kbanU7/darts_PNG57.png", :size => "23x23", class: "like-position"), like_post_path(post), method: :put, id: 'like_post' %>
<%= post.get_upvotes.size %>
</p>
</div>

<% post.comments.each do |comment|%>
</br>

<div class="comment-border">
<div>
<div class ="comment-profile-left">
  <p style="font-size:75%"><%= image_tag(comment.user.avatar.url(:thumb), class: "round-image-40") %>
  &nbsp;
  <%= comment.user.username %>
</div>
<div >
  <p style="font-size:75%"><%= comment.body %></p>
</div>
</div>

<hr style="border-color:#D3D3D3;width:80%;">
<% if current_user === comment.user%>
<p style="font-size:75%">
  <%= link_to 'Edit', edit_post_comment_path(post.id, comment.id), id: 'edit_comment'%>
  &nbsp; | &nbsp;
  <%= link_to 'Delete', post_comment_path(post, comment), method: :delete, data: {confirm: 'Confirm Delete Comment?'}, id: 'delete_comment'%>
  &nbsp; | &nbsp;
  <%=Posted.new(comment.created_at).string%>
  &nbsp; | &nbsp;
<% end %>
<%= link_to image_tag("https://thumb.ibb.co/kbanU7/darts_PNG57.png", :size => "23x23", class: "like-position", id: 'like_comment'), like_comment_path(comment), method: :put %>
<%= comment.get_upvotes.size %>
</p>
</div>
<% end %>

<% if current_user %>
<div class="new_comment_container">
<button class="new_comment">
  New Comment
</button>
<%= form_with(model: [ post, post.comments.build], class: :comment_form, local: true) do |form| %>
<%= form.text_area :body, cols: "50", rows: "5" %>
<br>
<%=form.submit "Comment"%>
<% end %>
</div>
</div>
<% end %>
<% end %>

</div>
</body>
</html>
